body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../assets/images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

/* haal de verticale scrollbar weg en behoud de scroll functie */
html, body {
    overflow-y: hidden;
    height: 100%;
}

body {
    overflow-y: scroll;
    position: relative;
}

/* voor WebKit browsers zoals: Chrome, Safari, en Opera */
body::-webkit-scrollbar {
    width: 0px;
}

/* voor Firefox */
body {
    scrollbar-width: none;
}

/* voor Internet Explorer, Edge */
body {
    -ms-overflow-style: none;
}

nav {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    width: 100%;
    position: fixed;
    top: 0;

    background-color: #280022; /* Add your desired background color */
    z-index: 1000; /* Adjust the z-index as needed */
}


nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    transition: color 0.3s;
}

nav a:hover {
    color: rgb(91, 0, 81);
}

.nav {
    background-color: #280022;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    
}
.nav img {
    border-radius: 50%;
}
.nav .logo {
    display: flex;
    align-items: center;
}
.nav .logo img {
    width: 60px;
    height: 60px;
    margin-left: 25px;
    margin-top: 110px;
}
.navbar h1 {
    font-family: 'Cursive';
    margin: 0;
}

header {
    background-color: #280022;
    color: #fff;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; /* Zorg ervoor dat de header boven andere content staat */
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    display: flex;
    height: auto;
    width: 9%;
    float: left;
    margin-top: -6%;
    margin-left: -1%;
}

.profile-container {
    position: fixed;
    right: 20px;
}

.profile-image {
    cursor: pointer;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.profile-popup {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    width: 250px;
    padding: 15px;
    color: black;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.profile-popup .close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    font-size: 16px;
}

.logout {
    color: black;
}

.profile-popup img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 10px auto;
}

body.Achtergrond {
    background-image: url(../images/AppeltaartBG.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.registerButton {
    display: flex;
    justify-content: center;
}

.register {
    margin-top: 0;
    margin-bottom: 20px;
}


.form-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 400px;
}

.registerForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}


textarea {
    resize: none;
}

div.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonContainers {
    display: flex;
    justify-content: center;
    text-align: center;
 }

#search {
    margin: 10px;
}

#reset {
    margin: 10px;
}

li a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

li div {
    display: flex;
    justify-content: center;
    padding: 3%;
}

div.row-preview-container {
    display: flex;
    justify-content: center;
}

.button-container {
    display: flex;
    justify-content: center;
    width: 100%;
}
input#registerButton.LoginButton {
    margin-left: 45%;
    margin-right: 45%;
    margin-bottom: 5%;
}

.LoginButton {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #0eb72a;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.LoginButton, .LoginButton2 {
    padding: 15px 25px;
    font-size: 16px;
    cursor: pointer;
    color: #fff;
    background-color: #0eb72a;
    border: none;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    transition: background-color 0.3s, transform 0.3s;
}

.LoginButton:hover, .LoginButton2:hover {
    background-color: #118115;
}

.LoginButton:active, .LoginButton2:active {
    transform: translateY(2px);
}

.LoginButton:hover {
    background-color: #118115;
    cursor: pointer;
}

.LoginButton:active {
    background-color: #118115;
    box-shadow: 0 5px #777;
    transform: translateY(4px);
}

.LoginButton2 {
    display: inline-block;
    padding: 15px 25px;
    margin-left: 25%;
    margin-right: 25%;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #0eb72a;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.LoginButton2:hover {
    background-color: #118115;
    cursor: pointer;
}

.LoginButton2:active {
    background-color: #118115;
    box-shadow: 0 5px #777;
    transform: translateY(4px);
}

.row-preview {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.column-preview {
    flex: 1;
    max-width: 30%;
    box-sizing: border-box;
    padding: 10px;
}

.content-preview {
    border: 1px solid whitesmoke;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: grey;
}

.content-preview h3 a {
    color: white;
    text-decoration: none;
}

.content-preview h3 a:hover {
    transition: 0.3s;
    color: red;
}

.content-preview img {
    width: 80%;
    height: auto;
}

.content-preview h3 {
    margin: 10px 0;
}

.content-preview p {
    font-size: 14px;
    color: white;
}

.reviewClass {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.afbeeldingUpload {
    display: flex;
    justify-content: center;
    align-items: center;
}

.reviewLabel {
    display: flex;
    justify-content: center;
}

input#name.nameClass {
    cursor: not-allowed;
}

h1.no-results {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dff0d8;
    border: 1px solid #c3e6cb;
    color: #155724;
    text-align: center;
    border-radius: 8px;
    margin-left: 30%;
    /* Adjust margin as per your design */
    margin-right: 30%;
}

footer {
    background-color: #280022;
    color: #fff;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
}

.row-preview-container {
    display: flex;
    flex-wrap: wrap;
}

.column-preview {
    width: 20%;
    box-sizing: border-box;
    padding: 10px;
}

.clear {
    flex-basis: 100%;
    height: 0;
}

.row-preview-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.column-preview {
    flex: 1 1 100%;
    /* Basisflexibiliteit voor alle apparaten */
    padding: 15px;
    box-sizing: border-box;
}

.content-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #676767;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.content-preview img {
    max-width: 300px;
    max-height: 200px;
    min-height: 200px;
    max-height: 300px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.clear {
    clear: both;
}

.fa-star {
    color: yellow;
}

@media (min-width: 576px) {
    .column-preview {
        flex: 1 1 50%;
    }
}

@media (min-width: 768px) {
    .column-preview {
        flex: 1 1 33.33%;
    }
}

@media (min-width: 992px) {
    .column-preview {
        flex: 1 1 25%;
    }
}

@media (min-width: 1200px) {
    .column-preview {
        flex: 1 1 20%;
    }
}

@media (max-width: 1400px) {
    .column-preview {
        max-width: 45%;
    }
}

@media (max-width: 900px) {
    .column-preview {
        max-width: 100%;
    }
}

@media (max-width: 500px) {
    .row-preview {
        flex-direction: column;
        align-items: center;
    }

    .column-preview {
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    .logo {
        width: 20%;
        margin-top: -50px;
        margin-left: -10px;
    }
}

@media (max-width: 480px) {
    .logo {
        width: 30%;
        margin-top: -25px;
        margin-left: -5px;
    }
}

@media (max-width: 600px) {
    nav {
        justify-content: center;
    }

    nav a {
        margin: 5px;
        /* Add a bit more margin for smaller screens */
    }
}

/* CSS */
.button-78 {
  align-items: center;
  appearance: none;
  background-clip: padding-box;
  background-color: initial;
  background-image: none;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  flex-direction: row;
  flex-shrink: 0;
  font-family: Eina01,sans-serif;
  font-size: 16px;
  font-weight: 800;
  justify-content: center;
  line-height: 24px;
  margin: 0;
  min-height: 64px;
  outline: none;
  overflow: visible;
  padding: 19px 26px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: auto;
  word-break: keep-all;
  z-index: 0;
}

@media (min-width: 768px) {
  .button-78 {
    padding: 19px 32px;
  }
}

.button-78:before,
.button-78:after {
  border-radius: 80px;
}

.button-78:before {
  background-image: linear-gradient(92.83deg, #860083 0, #4c004d 100%);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

.button-78:after {
  background-color: initial;
  background-image: linear-gradient(#760059 0, #450048 100%);
  bottom: 4px;
  content: "";
  display: block;
  left: 4px;
  overflow: hidden;
  position: absolute;
  right: 4px;
  top: 4px;
  transition: all 100ms ease-out;
  z-index: -1;
}

.button-78:hover:not(:disabled):before {
  background: linear-gradient(92.83deg, rgb(155, 0, 158) 0%, rgb(85, 0, 93) 100%);
}

.button-78:hover:not(:disabled):after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition-timing-function: ease-in;
  opacity: 0;
}

.button-78:active:not(:disabled) {
  color: #ccc;
}

.button-78:active:not(:disabled):before {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), linear-gradient(92.83deg, rgb(155, 0, 158) 0%, rgb(85, 0, 93) 100%);
}

.button-78:active:not(:disabled):after {
  background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
  bottom: 4px;
  left: 4px;
  right: 4px;
  top: 4px;
}

.button-78:disabled {
  cursor: default;
  opacity: .24;
}