body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #3E1635;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-evenly;
    background-color: #280022;
    color: #fff;
    padding: 10px;
    flex-wrap: wrap;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    transition: color 0.3s;
}

nav a:hover {
    color: rgb(91, 0, 81);
}

.nav {
    background-color: #280022;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.nav img {
    border-radius: 50%;
}

.nav .logo {
    display: flex;
    align-items: center;
}

.nav .logo img {
    width: 60px;
    height: 60px;
}

.navbar h1 {
    font-family: 'Cursive';
    margin: 0;
}

.logo {
    display: flex;
    height: auto;
    width: 9%;
    float: left;
    margin-left: -1%;
}

.profile-container {
    position: fixed;
    right: 20px;
}

.profile-image {
    cursor: pointer;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.profile-popup {
    margin-right: 1%;
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    width: 450px;
    padding: 15px;
    color: black;
    background-color: #9700b5;
    border: 5px solid #280032;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.profile-popup .close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    font-size: 16px;
}

.logout {
    color: black;
}

.profile-popup img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 10px auto;
}

/* Body */
.container {
    padding: 20px;
}

/* Filter */
.filter {
    margin-bottom: 20px;
}

.filter input {
    padding: 10px;
    width: 100%;
    max-width: 300px;
    border: none;
    border-radius: 5px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}


.grid-item {
    width: calc(33.333% - 20px);
    height: 250px;
    background-color: #f9ecec;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grid-item img {
    width: 250px; /* Increased width */
    height: 250px; /* Increased height */
    object-fit: cover;
}

.filter-section {
    margin: 20px 0;
}

.filter-title {
    font-weight: bold;
    margin-left: 5px;
}

.filter {
    background-color: rgb(150, 137, 137);
    max-width: 25cm;
    border-radius: 10px;
}

#search {
    margin-bottom: 10px;
    margin-left: 5px;
}

footer {
    position: fixed;
    bottom: 0;
    padding: 10px;
    background-color: #280022;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    color: #fff;
    flex-wrap: wrap;
}
